@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
    .dark-button.block{
        position: absolute;
        bottom:20px;
    }
    .fixed-header-section{
        position: relative;
        min-height: calc(100vh - 211px);
        padding-bottom: 80px;
    }
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: landscape) {
    .dark-button.block.confirmation {
        position: static;
    }
    .footer-div{
        position: relative;
        padding: 20px 0;
    }
}


@media screen and (max-width: 630px){
    .dark-button.block.confirmation {
        position: absolute;
        bottom: 20px;
        width: auto;
        margin: auto;
    }
    .dark-button.block {
        position: absolute;
        bottom: 10px;
        margin: auto;
    }
    .dark-button.block {
        left: 0;
        right: 0;
    }
    .thankyou-msg {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 278px);
        justify-content: center;
        padding: 0;
    }
    .footer-div {
        padding: 20px 0;
        bottom: 0;
        margin-bottom: -30px;
    }
    span.label {
        margin-right: 12px;
    }
    .plan div strong{
        font-size: 13px;
    }
    .plan p strong{
        font-size: 13px;
    }
}

@media screen and (max-width: 320px){
    span.label {
        width: 96px;
        font-size: 12px;
        margin-right: 5px;
    }
    .plan div strong{
        font-size: 12px;
    }
    .plan p strong{
        font-size: 12px;
    }
    span.spacer {
        padding: 0 0px;
        font-size: 15px;
    }
}

@media screen and (max-device-width: 1000px) and (orientation: landscape) {
    .dark-button.block.confirmation {
        margin: auto;
    }
    .thankyou-msg {
        padding: 100px 0 50px;
    }

}
@media screen and (min-device-width: 1000px) and (orientation: landscape) {

    a.dark-button.block.confirmation {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .thankyou-msg {
        padding: 30% 0 50px;
    }
    .steps-process {
        width: 40%;
    }
}
